.site-content {
  background: linear-gradient(to top, hsl(211, 73%, 90%), white);
  width: 120%;
  background-repeat: no-repeat;
}

.carousel {
  width: 60% !important;
  left: 20%;
  height: 100%;
}
.booking-input-form {
  position: relative;
  left: 0%;
}
.contact-form {
  position: relative;
  left: 0%;
}
.carousel img {
  max-height: 500px;
}
h6 {
  font-size: 110%;
  font-weight: 700;
}
.about-section {
  position: relative;
  left: 7.6%;
}
@media screen and (min-width: 2600px) {
  .carousel {
    width: 60% !important;
    left: 20%;
    height: 100%;
  }
  .carousel img {
    max-height: 50rem;
  }
}
@media screen and (min-width: 2400px) and (max-width: 2600px) {
  .booking-input-form {
    position: relative;
    left: 38%;
  }
}
@media screen and (min-width: 2100px) and (max-width: 2400px) {
  .booking-input-form {
    position: relative;
    left: 35.5%;
  }
}
@media screen and (min-width: 1800px) and (max-width: 2100px) {
  .booking-input-form {
    position: relative;
    left: 32.5%;
  }
}
@media screen and (min-width: 1550px) and (max-width: 1800px) {
  .booking-input-form {
    position: relative;
    left: 31%;
  }
}

@media screen and (min-width: 2100px) and (max-width: 2600px) {
  .book-and-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .carousel {
    width: 60% !important;
    left: 20.3%;
    height: 100%;
  }
}
@media screen and (min-width: 1550px) and (max-width: 2100px) {
  .book-and-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .carousel img {
    max-height: 40rem;
    max-width: 100rem;
  }
  .carousel {
    width: 90% !important;
    left: 6%;
  }
  p {
    font-size: 95%;
    margin-bottom: 0rem;
    font-style: normal;
  }
}

@media screen and (max-width: 1550px) and (min-width: 800px) {
  p {
    font-size: 98%;
    margin-bottom: 1rem;
    font-style: normal;
  }
  .carousel img {
    max-height: 40rem;
    max-width: 100rem;
    overflow: hidden;
  }
}
@media screen and (max-width: 1550px) and (min-width: 600px) {
  .reviews-carousel {
    width: 65%;
    position: relative;
    margin-top: 3%;
    left: 17%;
  }
  .carousel {
    width: 90% !important;
    left: 5%;
  }
}
@media screen and (max-width: 800px) {
  p {
    font-size: 80%;
    margin-bottom: -5px;
    font-style: normal;
  }
  .carousel img {
    max-height: 40rem;
    max-width: 50rem;
  }
  .recentGuestReviews {
    margin-bottom: -10px;
  }
  h6 {
    font-size: 140%;
  }
}
h3 {
  font-size: 189%;
  font-weight: 450;
  padding: 0.5rem 0 2rem 0;
  font-style: normal;
}
@media screen and (max-width: 500px) {
  h3 {
    font-size: 130%;
    font-weight: 450;
    padding: 0.5rem 0 2rem 0;
    font-style: normal;
  }
}
.carousel-section img {
  opacity: 1;
}
.amenities-section h4 {
  font-size: 140%;
  width: 85%;
  position: relative;
  left: 6%;
}
.amenities-section {
  text-align: center;
  position: relative;
}

@media screen and (min-width: 1500px) {
  .reviews-carousel {
    width: 65%;
    position: relative;
    margin-top: 3%;
    left: 17%;
  }
}
@media screen and (min-width: 1900px) {
  .reviews-carousel {
    width: 65%;
    position: relative;
    margin-top: 3%;
    left: 17%;
  }
}

@media screen and (min-width: 2200px) {
  .reviews-carousel {
    width: 65%;
    position: relative;
    margin-top: 3%;
    left: 17.5%;
  }
}
.recentGuestReviews {
  margin-bottom: -22px;
  font-size: 120%;
  font-weight: normal;
  position: relative;
}

@media screen and (max-width: 600px) {
  .carousel img {
    max-height: 20rem;
    max-width: 50rem;
  }
  .reviews-carousel {
    width: 65%;
    position: relative;
    margin-top: 3%;
    left: 17%;
  }
  .carousel {
    width: 90% !important;
    left: 5%;
    height: 100%;
  }
  .recentGuestReviews {
    margin-bottom: -5px;
    font-size: 69%;
    font-weight: normal;
    position: relative;
  }
  .amenities-section h4 {
    font-size: 100%;
    width: 85%;
    position: relative;
    left: 6%;
  }
}
