input {
  height: 50px;
  width: 10px;
}

.text-input-container {
  align-items: center;
  justify-content: center;
}

.text-input-label {
  margin-right: 5px;
}

.text-input-box {
  flex: 0;
  /* Set the desired fixed width for the input box */
  width: 100%;
}
