h5 {
  font-size: 120%;
  text-align: center;
}
h4 {
  font-size: 115%;
  text-align: center;
}

.btn-primary {
  background-color: #0f52ba;
}

.TextInputRow {
  display: flex;
  font-size: 100%;
  align-items: center;
  justify-content: center;
}

.custom-primary-button {
  background-color: #0f52ba; /* Replace with your desired color code */
  color: #fff; /* Text color for the button */
  margin-right: 10px;
  margin-top: 10px;
}
.guest-instructions {
  margin-bottom: 10px;
}
