.BookingInputForm {
    position: relative;
    left:0%;
    top: 15px;
    
}

.BookingInputFormInner{
    position: relative;
    top:18px;
    left:0%;
}

.DateRangePicker{
    position: relative;
    top:15px;
    left:0%;
}


.BookingInputForm h2 {
    font-style: italic;
    font-weight:normal;
}

.getPriceButton {
    position:relative;
    top:85px;
    text-decoration: none;
    background:  rgb(66, 84, 143);
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.3rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: white;
}