.ContactForm .form-control {
  width: 59%;
  max-width: 70%;
  position: relative;
}

.ContactForm .form-label {
  color: #0f52ba;
}

input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 115%;
  width: 30%;
}
textarea {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.contactSubmitButton {
  background-color: #0f52ba;
}

.contactSubmitButton:hover {
  background-color: white;
  color: black;
}
