h3 {
  font-size: 189%;
  font-weight: 450;
  color: #0f52ba;
  padding: 0.5rem 0 2rem 0;
  font-style: italic;
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 130%;
    font-weight: 450;
    color: #0f52ba;
    padding: 0.5rem 0 2rem 0;
    font-style: italic;
  }

  p {
    font-size: 1%;
    color: #0f52ba;
  }
}

@media screen and (min-width: 2000px) {
  .carousel {
    width: 68%;
  }
  .thumbs-wrapper {
    position: relative;
    left: 20%;
    width: 110%;
  }
}

@media screen and (min-width: 1200px) and (max-width: 2000px) {
  .carousel {
    width: 62%;
    left: 12%;
  }
  .thumbs-wrapper {
    position: relative;
    left: 18%;
    width: 120%;
  }
}

.carousel .thumbs-wrapper {
  margin-top: -23px; /* Adjust this value as needed */
}

.carousel-section img {
  opacity: 1;
}

.amenities-section h4 {
  font-size: 110%;
  width: 85%;
  position: relative;
  left: 7%;
}
.amenities-section {
  text-align: left;
  position: relative;
  font-style: italic;
}
.amenities-section ul {
  margin: 2px;
  padding: 0;
  position: relative;
  left: 15%;
  font-size: 95%;
}
p {
  font-size: 105%;
  color: #0f52ba;
}

@media screen and (max-width: 500px) {
  .amenities-section ul {
    text-align: left;
    width: 80%;
  }
}

@media screen and (min-width: 2000px) {
  .homeDetails {
    display: flex;
  }
  .amenities-section {
    text-align: left;
    position: relative;
    right: 28%;
    width: 100%;
    font-style: italic;
    font-size: 122%;
  }
  .amenities-section h4 {
    text-align: left;
    width: 385%;
  }
  .amenities-section ul {
    text-align: left;
    width: 385%;
  }
  .YoutubeEmbed2 {
    position: relative;
    width: 50%;
    left: 5%;
    margin-right: 8%;
  }
  .video-section {
    display: flex;
  }
}
