h3 {
  font-size: 189%;
  font-weight: 450;
  color: #0F52BA
;
  padding: 0.5rem 0 2rem 0;
  font-style: italic;
}

@media screen and (max-width: 500px) {
  h3 {
    font-size: 130%;
    font-weight: 450;
    color: #0F52BA
;
    padding: 0.5rem 0 2rem 0;
    font-style: italic;
  }

  p {
    font-size: 1%;
    color: #0F52BA;
  }
}

@media screen and (min-width:1500px){
  .carousel {
    width: 65%;
    height: 200%;
  
  }
  .thumbs-wrapper{
    position:relative;
    left: 25%;
  
  }
  
}


.carousel-section img {
  opacity: 1.0;
}

p {
  font-size: 130%;
  color: #0F52BA
;
}
