/* src/assets/css/mystery-quest.css */
@font-face {
  font-family: "Mystery Quest";
  src: url("../assets/MysteryQuest-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.intro {
  width: 100%;
  height: 100vh;
  position: relative;
}

.intro-text .sapphire-logo {
  position: relative;
  height: auto; /* Maintain aspect ratio */
  max-width: 50%;
  left: 17%;
  transform: translate(-45%, -8%);
}

.intro-mid {
  width: 100%;
  height: 112vh;
  position: relative;
}

@media screen and (max-height: 505px) {
  .intro-mid {
    width: 100%;
    height: 155vh;
    position: relative;
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.98;
}

.intro-text {
  font-family: "Mystery Quest" !important;
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-shadow: 0.5px 0.5px 0.5px black;
}

@media screen and (max-width: 550px) {
  .intro-text {
    font-size: 70%;
    font-weight: 650;
  }
}

@media screen and (max-height: 400px) {
  .intro-text {
    font-size: 60%;
    font-weight: 500;
    top: 75%;
  }
}

.intro-text h1 {
  font-family: "Cormorant", serif;
  font-size: 450%;
  font-weight: 550;
  font-style: italic;
  color: #0f52ba;
}

.intro-text p {
  font-size: 1.3rem;
  font-weight: 300;
  color: #0f52ba;
  padding: 0.5rem 0 2rem 0;
  font-style: italic;
}

.intro-text .show {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  background: clear;
  padding: 1rem 2rem;
  border-radius: 6px;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}
.intro-text .show:hover {
  background-color: #0f52ba;
  color: black;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 450px) {
  .intro-text .sapphire-logo {
    position: relative;
    height: auto; /* Maintain aspect ratio */
    max-width: 75%;
    left: 26%;
    transform: translate(-45%, -8%);
  }
  .intro-text h1 {
    padding: 10px 20px;
  }
  .intro-text p {
    font-size: 1rem;
    padding: 0 0 2rem 0;
  }
  .intro-text .show {
    padding: 0.6rem 1.1rem;
    border-radius: 6px;
    font-size: 1.1rem;
  }
}
