.NavbarItems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  width: 800px;
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  opacity: 0.9;
  transition: opacity 0.3s ease-in;
  height: 60px;
  border-radius: 50px;
  position: fixed;
  top: 2%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 20;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.3);
}
.menu-icons {
  display: none;
}
.nav-links i {
  margin-right: 5%;
}
/* Hover effect for smaller screens */
.nav-links:hover {
  background-color: #f0f0f0; /* Adjust the background color on hover */
}
.sapphire-logo-header {
  max-width: 120px;
  position: fixed;
  transform: translate(-120%, -50%);
}
.nav-menu {
  display: flex;
  gap: 0;
  margin-top: 1rem;
  position: fixed;
  list-style: none;
  justify-content: center;
  align-items: center;
  right: 4%;
}
.nav-links {
  text-decoration: none;
  color: #0f52ba;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.7rem 1rem;
  white-space: nowrap;
  display: flex;
  transition: background-color 0.1s ease-in; /* Add transition for smooth effect */
  border-radius: 25px; /* Oval-shaped border-radius */
  align-items: center;
}

/* Styling for screens 850px and below */
@media screen and (max-width: 850px) {
  .NavbarItems {
    width: 100%;
    height: 90px;
    padding: 20px;
    border-radius: 0;
    top: 0;
  }
  .sapphire-logo-header {
    display: none;
    max-width: 120px;
    position: fixed;
    transform: translate(-120%, -50%);
  }
  .nav-menu {
    display: flex;
    gap: 0;
    margin-top: 1rem;
    position: fixed;
    list-style: none;
    justify-content: center;
    align-items: center;
    right: 8%;
    flex-wrap: wrap;
  }
  .nav-links {
    text-decoration: none;
    color: #0f52ba;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    display: flex;
    align-items: center;
  }
  /* Hover effect for smaller screens */
  .nav-links:hover {
    background-color: #f0f0f0; /* Adjust the background color on hover */
  }
}
