.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-item {
  flex: 10 1 1%;
  margin: 6px;
  max-width: 600px;
}
.image-gallery-image {
  width: 600px;
  height: 350px;
  object-fit: cover;
}

@media screen and (max-width: 650px) {
  .image-gallery {
    flex-direction: column;
    justify-content: center;
  }
  .image-gallery-image {
    width: 350px;
    height: 190px;
    object-fit: cover;
  }
  .image-item {
    flex: 1 0 100%;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .image-item {
    flex: 1 0 48%;
  }
}

@media screen and (min-width: 1201px) {
  .image-item {
    flex: 1 0 1%;
  }
}
